:root {
    --text-color: #F1F1F1;
    --element-color: #FF4C0D;
    --button-color: #151515;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1360px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

html {
    scroll-behavior: smooth;
}

.main {
    background-color: #000000;

}

.footer {
    background-color: #000000;
    background-image: url(../image/fon.avif);

}

a {
    text-decoration: none;
}

button {
    transition: 0.3s;
    cursor: pointer;
    border: none
}

.burger__menu {
    position: absolute;
    backdrop-filter: blur(4px);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.3s ease-in-out;
    left: -200%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.burger-link {
    font-size: 20px;
    font-weight: 600;

}

.galery__button-arrow-onTop {

    width: 40%;
    height: 40px;
}

.galery__button-onTop {
    z-index: 99;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--button-color);
    transform: rotate(180deg);
    position: fixed;
    right: 2vw;
    bottom: 4vh;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.services__modal {
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    backdrop-filter: blur(4px);
    height: 100vh;
}

.services__modal-card {
    border-radius: 5%;
    display: none;
    color: #fafafa;
    background: #222222;
    padding: 20px;
    flex-direction: column;
    max-width: 600px;
    height: fit-content
}

.modal__card-title {
    text-align: center;
    line-height: 110%;
    font-family: Roboto;
    font-weight: 600;
}

.modal__card-title::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 15px;
    border-bottom: 3px solid #FF4C0D;
}

.modal__card-text {
    padding-top: 0;
    padding: 20px;
    font-family: Roboto;
    line-height: 150%;
    font-weight: 500;
}